<nav class="navbar navbar-default navbar-fixed-top navbar-header-height">
  <div class="container-fluid">
    <div class="navbar-header">
      <button id="sidebar-menu" type="button" class="sidebar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">
         <img src="assets/img/ngx-bootstrap.svg" width="25" height="25" class="logo">
      </a>
      <span class="navbar-brand">BrewBuck</span>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active">
        <a href="javascript:void(0);">
         <b> Hello {{tenantInfo.orgProfile.tenantName}}!</b>
          </a>
      </li>
      <li>
        <a href="javascript:void(0);">{{ currentDateTime | date: 'MMM d, y h:mm:ss a' }}</a>
      </li>
      <li class="dropdown" dropdown>
        <!-- {1} -->
        <a dropdownToggle role="button">
          <!-- {2} -->
          Settings <span class="caret"></span></a>
        <ul *dropdownMenu class="dropdown-menu">
          <li><a href="#">Change Password</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div id="wrapper" class="active">
  <div id="sidebar-wrapper">
    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav">
        <ul class="nav" id="menu">
          <li>
            <a routerLink="dashboard" routerLinkActive="active" title="DashBoard">Dashboard<i class="fa fa-archive fa-fw pull-right"></i></a>
          </li>
          <li>
            <a routerLink="oprofile" routerLinkActive="active" title="Profile">Profile<i class="fa fa-user-md fa-fw pull-right"></i> </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="javascript:void(0);" title="Contacts">Contacts<i class="fa fa-address-book fa-fw pull-right"><i class="fa fa-angle-down"></i></i></a>
            <ul class="nav nav-second-level">
              <li>
                <a [routerLink]="['contacts', 0]" routerLinkActive="active" title="Contacts > Customer">Customer<i class="fa fa-address-card pull-right"></i></a>
              </li>
              <li>
                <a [routerLink]="['contacts', 1]" routerLinkActive="active" title="Contacts > Vendor">Vendor<i class="fa fa-address-card-o pull-right"></i></a>
              </li>
            </ul>
          </li>
          <li class="divider"></li>
          <li>
            <a href="javascript:void(0);" title="Admin Panel">Admin Panel<i class="fa fa-user fa-fw pull-right"><i class="fa fa-angle-down"></i></i></a>
            <ul class="nav nav-second-level">
              <li>
                <a routerLink="users" routerLinkActive="active" title="Admin Panel > Users">Users<i class="fa fa-users fa-fw pull-right"></i></a>
              </li>
              <li>
                <a routerLink="roles" routerLinkActive="active" title="Admin Panel > Roles">Roles<i class="fa fa-ticket fa-fw pull-right"></i></a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0);" title="Products">Products<i class="fa  fa-tags fa-fw pull-right"><i class="fa fa-angle-down"></i></i></a>
            <ul class="nav nav-second-level">
              <li>
                <a routerLink="pcategories" routerLinkActive="active" title="Products > Categories">Categories<i class="fa fa-sitemap fa-fw pull-right"></i></a>
              </li>
              <li>
                <a routerLink="products" routerLinkActive="active" title="Products > View">Products<i class="fa fa-product-hunt fa-fw pull-right"></i></a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0);" title="Invoice">Invoice<i class="fa fa-clipboard fa-fw  pull-right"><i class="fa fa-angle-down"></i></i></a>
            <ul class="nav nav-second-level">
              <li>
                <a routerLink="addinvoice" routerLinkActive="active" title="Invoice > Create">Create<i class="fa fa-plus fa-fw pull-right"></i></a>
              </li>
              <li>
                <a routerLink="invoices" routerLinkActive="active" title="Invoice > View Invoices">View Invoices<i class="fa fa-list fa-fw pull-right"></i></a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0);" title="Sales">Sales<i class="fa fa-shopping-bag fa-fw  pull-right"><i class="fa fa-angle-down"></i></i></a>
            <ul class="nav nav-second-level">
              <li>
                <a routerLink="addsalesorder" routerLinkActive="active" title="Sales > Create">Create<i class="fa fa-plus fa-fw pull-right"></i></a>
              </li>
              <li>
                <a routerLink="salesorders" routerLinkActive="active" title="Sales > View Orders">View Orders<i class="fa fa-list fa-fw pull-right"></i></a>
              </li>
            </ul>
          </li>
          <li class="divider"></li>
          <li>
            <a href="javascript:void(0);" title="Bill">Bills<i class="fa fa-money fa-fw  pull-right"><i class="fa fa-angle-down"></i></i></a>
            <ul class="nav nav-second-level">
              <li>
                <a routerLink="addbill" routerLinkActive="active" title="Bill > Create">Create<i class="fa fa-plus fa-fw pull-right"></i></a>
              </li>
              <li>
                <a routerLink="bills" routerLinkActive="active" title="Bill > View Bills">View Bills<i class="fa fa-list fa-fw  pull-right"></i></a>
              </li>
            </ul>
          </li>
          <li class="divider"></li>
          <li>
            <a href="javascript:void(0);" title="Purchase">Purchase<i class="fa fa-money fa-fw  pull-right"><i class="fa fa-angle-down"></i></i></a>
            <ul class="nav nav-second-level">
              <li>
                <a routerLink="addpurchaseorders" routerLinkActive="active" title="Purchase > Create Order">Create Order<i class="fa fa-plus fa-fw  pull-right"></i></a>
              </li>
              <li>
                <a routerLink="purchaseorders" routerLinkActive="active" title="Purchase > View Orders">View Orders<i class="fa fa-list fa-fw pull-right"></i></a>
              </li>
            </ul>
          </li>
          <li class="divider"></li>
          <li>
              <a href="javascript:void(0);" title="Inventory">Inventory<i class="fa fa-table fa-fw  pull-right"><i class="fa fa-angle-down"></i></i></a>
              <ul class="nav nav-second-level">
                  <li>
                      <a routerLink="invdashboard" routerLinkActive="active" title="Inventory > Dashboard"> Dashboard <i class="fa fa-list-alt fa-fw  pull-right"></i></a>
                  </li>
                  <li>
                      <a routerLink="wipinvdashboard" routerLinkActive="active" title="Inventory > WIP Dashboard"> WIP Dashboard<i class="fa fa-list-ul fa-fw  pull-right"></i> </a>
                  </li>
                  <li>
                      <a routerLink="invworkflow" routerLinkActive="active" title="Inventory > Workflow"> Workflow<i class="fa fa-usb fa-fw  pull-right"></i> </a>
                  </li>
                  <li>
                      <a routerLink="invmanage" routerLinkActive="active" title="Inventory > Manage"> Manage<i class="fa fa-magnet fa-fw  pull-right"></i> </a>
                  </li>
              </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="page-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>