<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{ title }}
    </div>
    <div class="panel-body-no-padding">
      <div class="table-responsive">
        <table class="table table-hover font-small">
          <thead class="Custom-thead">
            <tr>
              <th width="7%"></th>
              <th>USER NAME</th>
              <th>FIRST NAME</th>
              <th>LAST NAME</th>
              <th width="25%">EMAIL</th>
              <th>ROLE</th>
              <th width="7%"></th>
            </tr>
          </thead>
          <tbody class="Custom-tbody">
            <tr *ngFor="let item of lstUsers">
              <td width="7%">
                <img class="center-block" src="../../Content/images/default-avatar-sm.jpg" height="50" width="50" />
              </td>
              <td>{{ item.user.userName }} <br />
                <p [style.color]="!item.user.isEnable ? 'red' : 'green'">{{ item.user.isEnable ? 'Active' : 'Inactive' }}</p>
              </td>
              <td>{{ item.user.firstName }}</td>
              <td>{{ item.user.lastName }}</td>
              <td width="25%">{{ item.user.email }}</td>
              <td>{{ item.user.roleName | titleCase }}</td>
              <td width="7%">
                <div class="pull-right">
                  <div class="btn-group" *ngIf="item.user.userName != 'admin'">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                          <i class="fa fa-gear fa-fw"></i>
                                      </a>
                    <ul class="dropdown-menu pull-right" role="menu">
                      <li *ngIf="item.user.isEnable">
                        <a href="javascript:void(0);" (click)="editUser(item.id);AddEditUserModal.open();">Edit</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" (click)="enableDisableUser(item.id)">Mark as {{ item.user.isEnable ? 'Inactive' : 'Active' }}</a>
                      </li>
                      <li class="divider"></li>
                      <li *ngIf="item.user.isEnable">
                        <a href="javascript:void(0);">Reset Password</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-footer-custom">
      <div class="col-lg-4">
        <div class="input-group custom-search-form">
          <span class="input-group-addon">
                      <i class="fa fa-search"></i>
                  </span>
          <input type="text" class="form-control" placeholder="Search...">
        </div>
      </div>
      <div class="col-lg-4">
        <p *ngIf="message.text != '' && message.isGlobal" [ngClass]="{'alert':true,'alert-success': message.type == 1, 'alert-danger': message.type == 2,'alert-warning': message.type == 3}">{{message.text}}</p>
      </div>
      <div class="col-lg-4">
        <button class="btn btn-primary pull-right" (click)="openModal(AddEditUserModal);addUser();">Add User</button>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="addEditUserForm" novalidate>
  <ng-template #AddEditUserModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="addEditUserModalRef.hide()">
        <span aria-hidden="true">&times;</span>
       </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <label>User Name</label>
            <div class="input-group">
              <span class="input-group-addon">
                      <i class="glyphicon glyphicon-user"></i>
                  </span>
              <input type="text" class="form-control" placeholder="abc90" [(ngModel)]="userModel.name" name="name" formControlName="name"
                maxlength="15" required>
            </div>
            <ul class='form-text error' *ngIf="addEditUserForm.controls.name.dirty">
              <li *ngIf="addEditUserForm.controls.name.hasError('minlength')">Use at least 4 characters.</li>
            </ul>
          </div>
          <div class="form-group">
            <label>First Name</label>
            <div class="input-group">
              <span class="input-group-addon">
                      <i class="material-icons">person</i>
                  </span>
              <input type="text" class="form-control" placeholder="John" [(ngModel)]="userModel.firstName" name="firstName" formControlName="firstName"
                pattern="[a-zA-Z\s]{0,20}" maxlength="20" required>
            </div>
            <ul class='form-text error' *ngIf="addEditUserForm.controls.firstName.dirty">
              <li *ngIf="addEditUserForm.controls.firstName.hasError('pattern')">Use only letters (a-z).</li>
            </ul>
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <div class="input-group">
              <span class="input-group-addon">
                      <i class="material-icons">person</i>
                  </span>
              <input type="text" class="form-control" placeholder="Smith" [(ngModel)]="userModel.lastName" name="lastName" formControlName="lastName"
                pattern="[a-zA-Z\s]{0,20}" maxlength="20">
            </div>
            <ul class='form-text error' *ngIf="addEditUserForm.controls.lastName.dirty">
              <li *ngIf="addEditUserForm.controls.lastName.hasError('pattern')">Use only letters (a-z).</li>
            </ul>
          </div>
          <div class="form-group" *ngIf="addNewUser">
            <label>Password</label>
            <div class="input-group">
              <span class="input-group-addon">
                      <i class="glyphicon glyphicon-lock"></i>
                  </span>
              <input type="password" class="form-control" placeholder="123" [(ngModel)]="userModel.clearPassword" name="clearPassword"
                formControlName="clearPassword" minlength="3" maxlength="15" />
            </div>
            <ul class='form-text error' *ngIf="addEditUserForm.controls.clearPassword.dirty">
              <li *ngIf="addEditUserForm.controls.clearPassword.hasError('minlength')">Use at least 3 characters.</li>
            </ul>
          </div>
          <div class="form-group" *ngIf="addNewUser">
            <label>Confirm Password</label>
            <div class="input-group">
              <span class="input-group-addon">
                      <i class="glyphicon glyphicon-lock"></i>
                  </span>
              <input type="password" class="form-control" placeholder="123" [(ngModel)]="userModel.confirmPassword" name="confirmPassword"
                formControlName="confirmPassword" maxlength="15" />
            </div>
            <ul class='form-text error' *ngIf="addEditUserForm.controls.confirmPassword.dirty">
              <li *ngIf="addEditUserForm.hasError('mismatchedPasswords')">Passwords do not match.</li>
            </ul>
          </div>
          <div class="form-group">
            <label>Email Id</label>
            <div class="input-group">
              <span class="input-group-addon">
                      <i class="glyphicon glyphicon-envelope"></i>
                  </span>
              <input type="email" class="form-control" placeholder="mail@brewbuck.com" [(ngModel)]="userModel.email" name="email" formControlName="email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}">
            </div>
            <ul class='form-text error' *ngIf="addEditUserForm.controls.email.dirty">
              <li *ngIf="addEditUserForm.controls.email.hasError('pattern')">Please use only letters (a-z), numbers (0-9), '@' and periods.</li>
            </ul>
          </div>
          <div class="form-group">
            <label>Role</label>
            <div class="input-group">
              <span class="input-group-addon">
                      <i class="glyphicon glyphicon-envelope"></i>
                  </span>
              <select class="form-control" [(ngModel)]="userModel.roleName" name="roleName" formControlName="role">
                      <option *ngFor="let item of userRoles" [ngValue]="item.roleName">{{item.roleName}}</option>
                  </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-lg-5">
          <p *ngIf="message.text != '' && !message.isGlobal" [ngClass]="{'alert alert-danger': message.type == 2 }" style="justify-content:center;">{{message.text }}</p>
        </div>
        <div class="col-lg-7">
          <button type="button" class="btn btn-primary" [disabled]="!addEditUserForm.valid" (click)="saveUser()">
                  <span *ngIf="!progressing">Save</span>
                  <span *ngIf="progressing">
                      <img src="../../../assets/img/ajax-loader.gif />
                  </span>
              </button>
          <button type="button" class="btn btn-warning" (click)="onReset()">Reset</button>
          <button class="btn btn-primary" (click)="addEditUserModalRef.hide()">Close</button>
        </div>
      </div>
    </div>
  </ng-template>
</form>