<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{ title }}
    </div>
    <div class="panel-body-no-padding">
      <div class="table-responsive">
        <table>
          <tr>
            <td width="25%" valign="top">
              <table class="table">
                <tbody class="Custom-tbody-left-sidebar">
                  <tr *ngFor="let role of roleList;let i = index" [attr.data-index]="i" [ngClass]="{active: selectedRoleIndex === i }">
                    <td valign="top" class="list-group-item">
                      <span> <i [ngClass]="{'fa fa-ban':!role.isEnable}"></i></span>
                      <a href="javascript:void(0);" (click)="onRoleSelection(role.id, i);">
                                                {{ role.roleName }}
                                            </a>
                      <div class="pull-right">
                        <div class="btn-group" *ngIf="role.roleName != 'admin'">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                        <i class="fa fa-gear fa-fw"></i>
                                                    </a>
                          <ul class="dropdown-menu pull-right" role="menu">
                            <li *ngIf="role.isEnable">
                              <a href="javascript:void(0);" (click)="openModal(AddEditRoleModal);editRole(role.id);">Rename</a>
                            </li>
                            <li>
                              <a href="javascript:void(0);" (click)="enableDisableRole(role.id)">Mark as {{ role.isEnable ? 'Inactive' : 'Active' }}</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td width="70%">
              <form #AddEditPermissionForm="ngForm">
                <table class="table table-bordered table-hover">
                  <thead class="Custom-thead">
                    <tr>
                      <th width="30%"> Module </th>
                      <th> Action </th>
                      <th> Has Permission </th>
                    </tr>
                  </thead>
                  <tbody class="Custom-tbody-roles">
                    <tr *ngFor="let item of roleModel.modulePermissions">
                      <td width="30%">
                        <b>{{ item.module }}</b>
                      </td>
                      <td class="no-padding">
                        <table class="table table-bordered table-hover">
                          <tbody>
                            <tr *ngFor="let permission of item.permissions">
                              <td>{{ permission.action }}</td>
                              <td><input type="checkbox" [disabled]="!isEnabled" [(ngModel)]="permission.hasPermission" name="hasPermission_{{item.module}}_{{permission.apiCode}}"
                                  (change)="updatePermissionData(permission.permissionId,item.module,hasPermission.checked)"
                                  #hasPermission/></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="panel-footer">
      <div class="col-lg-4">
        <div class="input-group custom-search-form">
          <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
          <input type="text" class="form-control" placeholder="Search...">
        </div>
      </div>
      <div class="col-lg-4">
        <p *ngIf="message.text != '' && message.isGlobal" [ngClass]="{'alert':true,'alert-success': message.type == 1, 'alert-danger': message.type == 2,'alert-warning': message.type == 3}">{{message.text}}</p>
      </div>
      <div class="col-lg-4">
        <button class="btn btn-primary" (click)="onRoleSelection(roleModel.id, selectedRoleIndex)">Cancel</button>
        <button class="btn btn-primary" (click)="savePermissionForRole()" [disabled]="!AddEditPermissionForm.dirty">Update Permissions</button>
        <button class="btn btn-primary" (click)="openModal(AddEditRoleModal);addRole();">Add Role</button>
      </div>
    </div>
  </div>
</div>

<ng-template #AddEditRoleModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ isNewRole ? 'Add' : 'Edit' }} Role</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="roleModalRef.hide()">
        <span aria-hidden="true">&times;</span>
       </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <form #AddEditRoleForm="ngForm">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                            <i class="fa fa-registered"></i>
                        </span>
              <input type="text" class="form-control" placeholder="Enter Role name" [(ngModel)]="createModel.roleName" name="roleName"
                required maxlength="20" #name="ngModel" />
            </div>
            <!--pattern="[a-zA-Z0-9\s]{0,20}"
                    <span class='form-text error' *ngIf="name.dirty && name.hasError('pattern')">Use only letters (a-z), numbers (0-9) & numbers.</span>-->
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="col-lg-5">
      <p *ngIf="message.text != '' && !message.isGlobal" [ngClass]="{'alert alert-danger': message.type == 2 }" style="justify-content:center;">{{message.text }}</p>
    </div>
    <div class="col-lg-7">
      <button class="btn btn-primary" [disabled]="!AddEditRoleForm.form.valid" (click)="saveRole()">
            <span *ngIf="!progressing">Save</span>
            <span *ngIf="progressing">
                <img src="../../Content/images/ajax-loader.gif" />
            </span>
        </button>
      <button class="btn btn-warning" (click)="onReset();">Reset</button>
      <button class="btn btn-primary" (click)="roleModalRef.hide();">Close</button>
    </div>
  </div>
</ng-template>