.ng-valid[required], .ng-valid.required {
    border-left: 6px solid #42A948; /* green */
    /*border-color:red;*/
}

input.ng-dirty.ng-valid{
    border-left: 6px solid #42A948; /* green */
    /*border-color:red;*/
}

input.ng-pristine.ng-valid {
    border-left: 6px solid #42A948; /* green */
    /*border-color:red;*/
}

select.ng-pristine.ng-valid {
    border-left: 6px solid #42A948; /* green */
    /*border-color:red;*/
}

.ng-invalid:not(form) {
    border-left: 6px solid #a94442; /* red */
    /*border-color: red;*/
}

.error 
{
    color: red;
}