<div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="Absolute-Center is-Responsive">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default center">
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#signin" (click)="resetLogin()" data-toggle="tab">Sign In</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="signin">
                                    <br />
                                    <form #signinForm="ngForm" data-toggle="validator">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                <input type="text" class="form-control" placeholder="User Name" name="username" [(ngModel)]="loginRequest.username" required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="loginRequest.password" required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-def btn-block" [disabled]="!signinForm.form.valid || loginLoader" (click)="signinForm.form.valid && login()">
                                                <span *ngIf="!loginLoader">Login</span>
                                                <span *ngIf="loginLoader">
                                                    <img src="../../Content/images/ajax-loader.gif" />
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-xs-12" style="text-align:center;">
                                            <div class="col-xs-12" *ngIf="!loginLoader" style="padding-bottom:10px;">
                                                <p *ngIf="message.text != ''" [ngClass]="{'alert':true,'alert-success': message.type == 1, 'alert-danger': message.type == 2}">{{message.text}}</p>
                                            </div>
                                        </div>
                                        <div style="text-align:center;">
                                            <a [routerLink]="['/app/forgotPassword']" routerLinkActive="active"><i class="fa fa-unlock fa-fw"></i> Forgot password</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
