<div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="Absolute-Center is-Responsive">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default center">
                        <div class="panel-heading">
                            Change Password
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <form [formGroup]="changePasswordForm" novalidate>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-lock"></i>
                                            </span>
                                            <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="loginRequest.password" formControlName="password" maxlength="15" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-lock"></i>
                                            </span>
                                            <input type="password" class="form-control" placeholder="Confirm Password" [(ngModel)]="loginRequest.confirmPassword" name="confirmPassword" formControlName="confirmPassword" maxlength="15" />
                                        </div>
                                        <span class='form-text error' *ngIf="changePasswordForm.controls.confirmPassword.touched && changePasswordForm.hasError('mismatchedPasswords')">Passwords do not match.</span>
                                    </div>
                                    <div class="col-xs-12" style="text-align:center;">
                                        <div class="col-xs-12" *ngIf="!loginLoader" style="color:red;display:inline-block;padding-bottom:10px;">
                                            {{ changePasswordMessage }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-def btn-block" [disabled]="!changePasswordForm.valid || changePasswordLoader" (click)="changePassword()">
                                            <span *ngIf="!changePasswordLoader">Save</span>
                                            <span *ngIf="changePasswordLoader">
                                                <img src="../../assets/img/ajax-loader.gif" />
                                            </span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
