<div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="Absolute-Center is-Responsive">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default center">
                        <div class="panel-heading">
                            Forgot Password
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <form [formGroup]="resetPasswordForm" novalidate>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-user"></i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="User Name" name="name" [(ngModel)]="resetPasswordRequest.name" formControlName="name" maxlength="10"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-12" style="text-align:center;">
                                        <div class="col-xs-12" *ngIf="!resetPasswordLoader" style="color:red;display:inline-block;padding-bottom:10px;" >
                                            {{ resetPasswordMessage }}
                                        </div>   
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-def btn-block" [disabled]="!resetPasswordForm.valid" (click)="resetPassword()">
                                            <span *ngIf="!resetPasswordLoader">Reset</span>
                                            <span *ngIf="resetPasswordLoader">
                                                <img src="../../Content/images/ajax-loader.gif" />
                                            </span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
