<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{title}}
        </div>
        <div class="panel-body-no-padding">
            <app-producttable [products]="lstProducts" [template]="AddEditProductModal" (OnEditClick)="editProduct($event)" (OnEnableDisableClick)="enableDisableProduct($event)"></app-producttable>
        </div>
        <div class="panel-footer-custom">
            <div class="col-lg-4">
                <div class="input-group custom-search-form">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
            </div>
            <div class="col-lg-4">
                <p *ngIf="message.text != '' && message.isGlobal" [ngClass]="{'alert alert-height':true,'alert-success': message.type == 1, 'alert-danger': message.type == 2,'alert-warning': message.type == 3}">{{message.text}}</p>
            </div>
            <div class="col-lg-4">
                <button class="btn btn-primary pull-right" (click)="openModal(AddEditProductModal);addProduct();"  [disabled]="lstProductCategories.length <= 0">Add Product</button>
            </div>
        </div>
    </div>
</div>

<ng-template #AddEditProductModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ isNewProduct? 'Add' : 'Edit' }} Product</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="productModalRef.hide()">
        <span aria-hidden="true">&times;</span>
       </button>
    </div> 
     <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <form #AddEditProductForm="ngForm">
                    <table>
                        <tr>
                            <td valign="top">
                                <div class="col-lg-12">
                                    <div class="form-group">  
                                        <label>Product Category</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-list-alt"></i>
                                            </span>
                                            <select class="form-control" [(ngModel)]="productModel.categoryName" name="categoryName" required>
                                                <option *ngFor="let item of lstProductCategories" [ngValue]="item.name">{{item.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td valign="top">
                                <div class="col-lg-12">
                                    <label>Product Name</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-product-hunt"></i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Tea" [(ngModel)]="productModel.productName" name="productName" required minlength="3"  maxlength="50" #productName="ngModel">
                                        </div>
                                        <!--pattern="[a-zA-Z0-9\-_\s]{3,50}"
                                        <span class='form-text error' *ngIf="productName.dirty && productName.hasError('pattern')">Use only letters (a-z), dash & spaces. Use atleast 3 letters.</span>-->
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Product Description</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-sticky-note-o"></i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Made in assam" [(ngModel)]="productModel.description" name="description"  maxlength="100" #description="ngModel">
                                        </div>
                                        <!--pattern="[a-zA-Z\-_\s]{0,100}"
                                        <span class='form-text error' *ngIf="description.dirty && description.hasError('pattern')">Use only letters (a-z), dash & spaces.</span>-->
                                    </div>
                                </div>
                            </td>
                            <td valign="top">
                                <div class="col-lg-12">
                                    <label>Product Type</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-list-alt"></i>
                                            </span>
                                            <select class="form-control" [(ngModel)]="productModel.productType" name="productType" (change)="onProductTypeSelect($event.target.value)" required>
                                                <option *ngFor="let item of getProductTypes" [ngValue]="item.key">{{item.value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>HSN/SAC</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-ticket"></i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="78-234-123" [(ngModel)]="productModel.productCode" name="productCode" required minlength="3" maxlength="20" #productCode="ngModel">
                                        </div>
                                        <!--pattern="[a-zA-Z0-9\-]{3,20}"-->
                                        <span class='form-text error' *ngIf="productCode.dirty && productCode.hasError('pattern')">Use atleast 3 letters.</span>
                                    </div>
                                </div>
                            </td>
                            <td valign="top">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Product Code</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-ticket"></i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="SK-1234567" [(ngModel)]="productModel.skuCode" name="skuCode" maxlength="20" #skuCode="ngModel">
                                        </div>
                                        <!--pattern="[a-zA-Z0-9\-]{0,20}"
                                        <span class='form-text error' *ngIf="skuCode.dirty && skuCode.hasError('pattern')">Use only letters (a-z) numbers (0-9) & dash.</span>-->
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <div class="col-lg-12">
                                    <div class="form-group">              
                                        <label>Product Tax Slab</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-percent"></i>
                                            </span>
                                            <select class="form-control" [(ngModel)]="productModel.taxSlab" name="taxSlab" required>
                                                <option *ngFor="let item of getTaxSlabs" [ngValue]="item.key">{{item.value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td valign="top">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Unit Of Measure</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calculator"></i>
                                            </span>
                                            <select class="form-control" [(ngModel)]="productModel.uom" name="uom" required>
                                                <option *ngFor="let item of lstUOMs" [ngValue]="item.value">{{item.value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td valign="top">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Opening Stock</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-ticket"></i>
                                            </span>
                                            <input type="text" class="form-control" [(ngModel)]="productModel.openingStock" name="openingStock" #openingStock="ngModel">
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>  
    <div class="modal-footer">
        <div class="col-lg-5">
            <p *ngIf="message.text != '' && !message.isGlobal" [ngClass]="{'alert alert-danger': message.type == 2 }" style="justify-content:center;">{{message.text }}</p>
        </div>
        <div class="col-lg-7">
            <button type="button" class="btn btn-primary" [disabled]="!AddEditProductForm.form.valid" (click)="saveProduct()">
                <span *ngIf="!progressing">Save</span>
                <span *ngIf="progressing">
                    <img src="../../../assets/img/ajax-loader.gif" />
                </span>
            </button>
            <button type="button" class="btn btn-warning" (click)="onReset(productModel.id);">Reset</button>
            <button class="btn btn-primary" (click)="productModalRef.hide();">Close</button>
        </div>
    </div>
  </ng-template>

