<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ title }}
        </div>
        <div class="panel-body-no-padding">
            <div class="table-responsive">
                <table class="table table-bordered font-small">
                    <thead class="Custom-thead">
                        <tr>
                            <th width="3%">#</th>
                            <th>PRODUCT NAME</th>
                            <th>SKU</th>
                            <th>UOM</th>
                            <th>WIP</th>
                            <th>AVAILABLE</th>
                        </tr>
                    </thead>
                    <tbody class="Custom-tbody">
                        <tr *ngFor="let item of lstInventory; let i = index" [attr.data-index]="i">
                            <td width="3%">{{ i + 1 }}</td>
                            <td>{{ item.productName }}</td>
                            <td>{{ item.productCode }}</td>
                            <td>{{ item.uom }}</td>
                            <td>{{ item.wip }}</td>
                            <td>{{ item.available }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer-custom">
            <div class="col-lg-4">
                <div class="input-group custom-search-form">
                    <span class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </span>
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
            </div>
            <div class="col-lg-6">
                <p *ngIf="message.text != '' && message.isGlobal" [ngClass]="{'alert alert-height':true,'alert-success': message.type == 1, 'alert-danger': message.type == 2,'alert-warning': message.type == 3}">{{message.text}}</p>
            </div>
        </div>
    </div>
</div>