<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{ title }}
    </div>
    <div class="panel-body-no-padding">
      <div class="col-lg-12">
        <div class="form-group">
          <br />
          <input type="text" class="form-control input-sm" (selectItem)="onWorkflowSelection($event);openModal(AddEditWIPWorkflowModal);"
            [ngbTypeahead]="searchWorkflows" [resultFormatter]="workflowResultFormatter" [inputFormatter]="workflowInputFormatter"
            name="workflowTypeHead" required/>
        </div>
      </div>
        <table class="table table-bordered table-hover">
          <thead class="Custom-thead">
            <tr>
              <th colspan="4" style="text-align:center" width="50.1%">Input</th>
              <th colspan="4" style="text-align:center" width="49.9%">Output</th>
            </tr>
            <tr>
              <th width="26%">Product Name</th>
              <th width="10%">SKU</th>
              <th width="7%">Quantity</th>
              <th width="7%">UOM</th>
              <th width="26%">Product Name</th>
              <th width="10%">SKU</th>
              <th width="7%">Quantity</th>
              <th width="7%">UOM</th>
            </tr>
          </thead>
          <tbody class="Custom-tbody-manage-workflow">
            <tr *ngFor="let workflow of lstInventoryWorkflows; let i = index" [attr.data-index]="i">
              <td width="50.2%">
                <h5>#{{ workflow.name }}</h5>
                <table class="table table-bordered">
                  <tbody>
                    <tr *ngFor="let input of workflow.inputProducts">
                      <td class="table-invoice-name">
                        {{ input.name }}
                      </td>
                      <td class="table-invoice-code">
                        {{ input.code }}
                      </td>
                      <td class="table-invoice-qty">
                        {{ input.quantity }}
                      </td>
                      <td class="table-invoice-uom">
                        {{ input.uom }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td align="right">
                <h5>
                  <b><a href="javascript:void(0);" (click)="issueWorkflow(workflow.id);openModal(AddEditWIPWorkflowModal)">Issue Workflow</a></b>
                </h5>
                <table class="table table-bordered">
                  <tbody>
                    <tr *ngFor="let output of workflow.outputProducts">
                      <td class="table-invoice-name">
                        {{ output.name }}
                      </td>
                      <td class="table-invoice-code">
                        {{ output.code }}
                      </td>
                      <td class="table-invoice-qty">
                        {{ output.quantity }}
                      </td>
                      <td class="table-invoice-uom">
                        {{ output.uom }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="panel-footer-custom">
      <div class="col-lg-4">
        <div class="input-group custom-search-form">
          <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
          <input type="text" class="form-control" placeholder="Search...">
        </div>
      </div>
      <div class="col-lg-4">
        <p *ngIf="message.text != '' && message.isGlobal" [ngClass]="{'alert alert-height':true,'alert-success': message.type == 1, 'alert-danger': message.type == 2,'alert-warning': message.type == 3}">{{message.text}}</p>
      </div>
    </div>
  </div>
</div>

<ng-template #AddEditWIPWorkflowModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ issueWorkflowWIP ? 'Issue' : 'Add' }} WIP Workflow</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="addEditWIPWorkflowModalRef.hide()">
        <span aria-hidden="true">&times;</span>
       </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <form #AddEditInputForm="ngForm">
          <div class="col-lg-12">
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="inventoryWorkflowModel.name" name="name" required placeholder="workflow name"
                disabled />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="alert alert-info"><b>Input</b></div>
          </div>
          <div class="col-lg-6">
            <div class="alert alert-success"><b>Output</b></div>
          </div>
          <div class="col-lg-6">
            <table class="table table-bordered">
              <thead class="Custom-thead">
                <tr>
                  <th class="table-invoice-menu">
                    <a href="javascript:void(0);" (click)="addItem()">
                                            <i class="fa fa-plus"></i>
                                        </a>
                  </th>
                  <th class="table-invoice-name">Name</th>
                  <th class="table-invoice-uom">UOM</th>
                  <th class="table-invoice-qty">Quantity</th>
                  <th width="3%"></th>
                </tr>
              </thead>
              <tbody class="Custom-tbody-add-workflow">
                <tr *ngFor="let item of inventoryWorkflowModel.inputProducts; let i = index" [attr.data-index]="i">
                  <td class="table-invoice-menu" align="center">{{i + 1}}</td>
                  <td class="table-invoice-name">
                    <input type="text" class="form-control input-sm" (selectItem)="onProductSelection($event,i)" [ngbTypeahead]="searchInputProducts"
                      [resultFormatter]="productResultFormatter" [inputFormatter]="productInputFormatter" required value="{{item.name}}"
                    />
                  </td>
                  <td class="table-invoice-uom">
                    <input type="text" class="form-control input-sm" [(ngModel)]="item.uom" name="in_uom_{{i}}" required disabled>
                  </td>
                  <td class="table-invoice-qty">
                    <input type="number" class="form-control input-sm" [(ngModel)]="item.quantity" name="in_quantity_{{i}}" (keydown.Tab)="addItem()"
                      required>
                  </td>
                  <td class="table-invoice-menu">
                    <a href="javascript:void(0);" (click)="removeItem(i)" tabindex="-1">
                                            <i class="fa fa-times"></i>
                                        </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
        <div class="col-lg-6">
          <form #AddEditOutputForm="ngForm">
            <table class="table table-bordered">
              <thead class="Custom-thead">
                <tr>
                  <th class="table-invoice-menu">
                    <a href="javascript:void(0);" (click)="addItem(false)">
                                            <i class="fa fa-plus"></i>
                                        </a>
                  </th>
                  <th class="table-invoice-name">Name</th>
                  <th class="table-invoice-uom">UOM</th>
                  <th class="table-invoice-qty">Quantity</th>
                  <th width="3%"></th>
                </tr>
              </thead>
              <tbody class="Custom-tbody-add-workflow">
                <tr *ngFor="let item of inventoryWorkflowModel.outputProducts; let i = index" [attr.data-index]="i">
                  <td class="table-invoice-menu" align="center">{{i + 1}}</td>
                  <td class="table-invoice-name">
                    <input type="text" class="form-control input-sm" (selectItem)="onProductSelection($event,i, false)" [ngbTypeahead]="searchOutputProducts"
                      [resultFormatter]="productResultFormatter" [inputFormatter]="productInputFormatter" required value="{{item.name}}"
                    />
                  </td>
                  <td class="table-invoice-uom">
                    <input type="text" class="form-control input-sm" [(ngModel)]="item.uom" name="out_uom_{{i}}" required disabled>
                  </td>
                  <td class="table-invoice-qty">
                    <input type="number" class="form-control input-sm" [(ngModel)]="item.quantity" name="out_quantity_{{i}}" (keydown.Tab)="addItem(false)"
                      required>
                  </td>
                  <td class="table-invoice-menu">
                    <a href="javascript:void(0);" (click)="removeItem(i, false)" tabindex="-1">
                                            <i class="fa fa-times"></i>
                                        </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="col-lg-5">
      <p *ngIf="message.text != '' && !message.isGlobal" [ngClass]="{'alert alert-danger': message.type == 2 }" style="justify-content:center;">{{message.text }}</p>
    </div>
    <div class="col-lg-7">
      <button class="btn btn-primary" [disabled]="!(AddEditInputForm.form.valid && AddEditOutputForm.form.valid && !progressing)"
        (click)="saveWorkflow()">
            <span *ngIf="!progressing">Save</span>
            <span *ngIf="progressing">
                <img src="../../Content/images/ajax-loader.gif" />
            </span>
        </button>
      <button class="btn btn-warning" (click)="onReset();">Reset</button>
      <button class="btn btn-primary" (click)="addEditWIPWorkflowModalRef.hide();">Close</button>
    </div>
  </div>
</ng-template>