<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{Title}}
    </div>
    <div class="panel-body-no-padding">
      <div class="table-responsive">
        <table class="table table-hover font-small">
          <thead class="Custom-thead">
            <tr>
              <th width="3%"></th>
              <th>NAME</th>
              <th>COMPANY</th>
              <th>EMAIL</th>
              <th>PHONE #</th>
              <th>CONTACT TYPE</th>
              <th>GSTIN</th>
              <th width="5%"></th>
            </tr>
          </thead>
          <tbody class="Custom-tbody">
            <tr *ngFor="let item of lstContacts">
              <td width="3%"><i [ngClass]="{'fa fa-ban':!item.isEnable}"></i></td>
              <td>{{ item.firstName }} {{ item.lastName }}</td>
              <td>{{ item.companyName }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.phoneNumber }}</td>
              <td>{{ item.type == 0 ? 'Customer' : 'Vendor' }}</td>
              <td>{{ item.gstin }}</td>
              <td width="5%">
                <div class="pull-right">
                  <div class="btn-group">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-gear fa-fw"></i>
                                        </a>
                    <ul class="dropdown-menu pull-right" role="menu">
                      <li *ngIf="item.isEnable">
                        <a href="javascript:void(0);" (click)="editContact(item.id);openModal(AddEditContactModal);">Edit</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" (click)="enableDisableContact(item.id)">Mark as {{ item.isEnable ? 'Inactive' : 'Active' }}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-footer-custom">
      <div class="col-lg-4">
        <div class="input-group custom-search-form">
          <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
          <input type="text" class="form-control" placeholder="Search...">
        </div>
      </div>
      <div class="col-lg-4">
        <p *ngIf="message.text != '' && message.isGlobal" [ngClass]="{'alert alert-height':true,'alert-success': message.type == 1, 'alert-danger': message.type == 2,'alert-warning': message.type == 3}">{{message.text}}</p>
      </div>
      <div class="col-lg-4">
        <button class="btn btn-primary pull-right" (click)="openModal(AddEditContactModal); addContact();">Add Contact</button>
      </div>
    </div>
  </div>
</div>

<ng-template #AddEditContactModal>
  <div class="modal-header">
    <ul class="nav nav-pills">
      <li class="active">
        <a href="#Contact" data-toggle="tab">Contact</a>
      </li>
      <li>
        <a href="#Address" data-toggle="tab">Address</a>
      </li>
    </ul>
    <button type="button" class="close pull-right" aria-label="Close" (click)="contactModalRef.hide()">
        <span aria-hidden="true">&times;</span>
       </button>
  </div>
  <div class="modal-body">

    <div class="row">
      <form role="form" #AddEditContactForm="ngForm" data-toggle="validator">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="Contact">
            <div class="col-lg-12">
              <table>
                <tr>
                  <td valign="top">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label>First Name</label>
                        <div class="input-group">
                          <span class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                    </span>
                          <input type="text" class="form-control" placeholder="John" [(ngModel)]="catalogueModel.firstName" name="firstName" required
                            maxlength="20" #firstName="ngModel">
                        </div>
                        <!--pattern="[a-zA-Z]{0,20}"
                                                <span class='form-text error' *ngIf="firstName.dirty && firstName.hasError('pattern')">Use only letters (a-z).</span>-->
                      </div>
                    </div>
                  </td>
                  <td valign="top">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label>Last Name</label>
                        <div class="input-group">
                          <span class="input-group-addon">
                                                        <i class="material-icons">person</i>
                                                    </span>
                          <input type="text" class="form-control" placeholder="Snow" [(ngModel)]="catalogueModel.lastName" name="lastName" maxlength="20"
                            #lastName="ngModel">
                        </div>
                        <!--pattern="[a-zA-Z]{0,10}"
                                                <span class='form-text error' *ngIf="lastName.dirty && lastName.hasError('pattern')">Use only letters (a-z).</span>-->
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td valign="top">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label>Orgnisation Name</label>
                        <div class="input-group">
                          <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-flag"></i>
                                                    </span>
                          <input type="text" class="form-control" placeholder="ABC Pvt. Ltd." [(ngModel)]="catalogueModel.companyName" name="companyName"
                            required maxlength="100" #companyName="ngModel">
                        </div>
                        <!--pattern="[a-zA-Z0-9\d\-_\s]{0,100}"
                                                <span class='form-text error' *ngIf="companyName.dirty && companyName.hasError('pattern')">Use only letters (a-z), numbers (0-9), periods, dash and spaces.</span>-->
                      </div>
                    </div>
                  </td>
                  <td valign="top">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label>Email</label>
                        <div class="input-group">
                          <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-envelope"></i>
                                                    </span>
                          <input type="text" class="form-control" placeholder="mail@gmail.com" [(ngModel)]="catalogueModel.email" name="email" required
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel">
                        </div>
                        <span class='form-text error' *ngIf="email.dirty && email.hasError('pattern')">Please use only letters (a-z), numbers (0-9), '@' and .</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td valign="top">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label>Contact Number</label>
                        <div class="input-group">
                          <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-phone"></i>
                                                    </span>
                          <input type="text" class="form-control" placeholder="9876543210" [(ngModel)]="catalogueModel.phoneNumber" name="phoneNumber"
                            required maxlength="10" minlength="10" pattern="[0-9]*" #phoneNumber="ngModel">
                        </div>
                        <span class='form-text error' *ngIf="phoneNumber.dirty && phoneNumber.hasError('minlength')">Please use atleast 10 digits.</span>
                        <span class='form-text error' *ngIf="phoneNumber.dirty && phoneNumber.hasError('pattern')">Please use only digits(0-9).</span>
                      </div>
                    </div>
                  </td>
                  <td valign="top">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label>GSTIN ( <u><a href="https://services.gst.gov.in/services/searchtp" target="_blank" style="font-size:small">Verify GSTIN</a></u> )</label>
                        <div class="input-group">
                          <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-credit-card"></i>
                                                    </span>
                          <input type="text" class="form-control" placeholder="00AAAAA0000A0Z0" [(ngModel)]="catalogueModel.gstin" name="gstin" required
                            maxlength="15" #gstin="ngModel" pattern="\d{2}[a-zA-Z0-9]{10}[a-zA-Z0-9]{3}">
                        </div>
                        <span class='form-text error' *ngIf="gstin.dirty && gstin.hasError('pattern')">Please use only letters(A-Z) and digits(0-9).</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td valign="top">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label>Contact Type</label>
                        <div class="input-group">
                          <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-credit-card"></i>
                                                    </span>
                          <input type="hidden" class="form-control" [(ngModel)]="catalogueModel.type" name="type">
                          <input type="text" class="form-control" value="{{ catalogueModel.type == 0 ? 'Customer' : 'Vendor' }}" disabled>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="tab-pane fade" id="Address">
            <div [ngClass]="{'col-lg-6': (catalogueModel.type == 0), 'col-lg-12': (catalogueModel.type == 1)}">
              <div class="panel panel-default">
                <div class="panel-heading">
                  Billing Address
                </div>
                <div class="panel-body">
                  <table>
                    <tr>
                      <td valign="top" colspan="2">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label>Adress Line</label>
                            <div class="input-group">
                              <span class="input-group-addon">
                                                                <i class="glyphicon glyphicon-home"></i>
                                                            </span>
                              <textarea class="form-control" rows="2" placeholder="Address" [(ngModel)]="catalogueModel.billingAddress.addressLine" name="billingAddress.addressLine"
                                required maxlength="100" #billingaddressLine="ngModel" draggable="false"></textarea>
                            </div>
                            <!--pattern="[a-zA-Z0-9,\/\d\-_\s]{0,100}"
                                                        <span class='form-text error' *ngIf="billingaddressLine.dirty && billingaddressLine.hasError('pattern')">Use only letters (a-z), numbers(0-9), periods, slash, dash and spaces.</span>-->
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label>City</label>
                            <div class="input-group">
                              <span class="input-group-addon">
                                                                <i class="material-icons">location_city</i>
                                                            </span>
                              <input type="text" class="form-control" placeholder="City" [(ngModel)]="catalogueModel.billingAddress.city" name="billingAddress.city"
                                required maxlength="30" #billingcity="ngModel">
                            </div>
                            <!--pattern="[a-zA-Z\s]{0,30}"
                                                        <span class='form-text error' *ngIf="billingcity.dirty && billingcity.hasError('pattern')">Use only letters (a-z) and space.</span>-->
                          </div>
                        </div>
                      </td>
                      <td valign="top">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label>Pin Code</label>
                            <div class="input-group">
                              <span class="input-group-addon">
                                                                <i class="material-icons">fiber_pin</i>
                                                            </span>
                              <input type="text" class="form-control" placeholder="Pin Code" [(ngModel)]="catalogueModel.billingAddress.postalCode" name="billingAddress.postalCode"
                                required maxlength="6" pattern="^\d{6}$" #billingpincode="ngModel">
                            </div>
                            <span class='form-text error' *ngIf="billingpincode.dirty && billingpincode.hasError('pattern')">Use only numbers (0-9).</span>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label>State</label>
                            <div class="form-group input-group">
                              <span class="input-group-addon">
                                                                <i class="glyphicon glyphicon-stats"></i>
                                                            </span>
                              <select class="form-control" [(ngModel)]="catalogueModel.billingAddress.state" name="billingAddress.state" required>
                                                                <option *ngFor="let item of lstStates" [ngValue]="item.name">{{item.name}}</option>
                                                            </select>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td valign="top">
                        <div class="col-lg-12">
                          <label>Country</label>
                          <div class="input-group">
                            <span class="input-group-addon">
                                                            <i class="glyphicon glyphicon-map-marker"></i>
                                                        </span>
                            <select class="form-control" [(ngModel)]="catalogueModel.billingAddress.country" name="billingAddress.country" required>
                                                            <option *ngFor="let item of lstCountries" [ngValue]="item.name">{{item.name}}</option>
                                                        </select>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-lg-6" *ngIf="catalogueModel.type == 0">
              <div class="panel panel-default">
                <div class="panel-heading">
                  Shipping Address
                  <label class="checkbox-inline pull-right" style="color:orange;">
                                        <input type="checkbox" (change)="copyBillingAddress($event)" [(ngModel)]="sameAsBillingAddress" name="sameAsBillingAddress" />Copy Billing Address
                                    </label>
                </div>
                <div class="panel-body">
                  <table>
                    <tr>
                      <td valign="top" colspan="2">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label>Address Line</label>
                            <div class="input-group">
                              <span class="input-group-addon">
                                                                <i class="glyphicon glyphicon-home"></i>
                                                            </span>
                              <textarea class="form-control" rows="2" placeholder="Address" [(ngModel)]="catalogueModel.shippingAddress.addressLine" name="shippingAddress.addressLine"
                                required maxlength="100" #shippingaddressLine="ngModel" draggable="false"></textarea>
                            </div>
                            <!--pattern="[a-zA-Z0-9,\/\d\-_\s]{0,100}"
                                                        <span class='form-text error' *ngIf="shippingaddressLine.dirty && shippingaddressLine.hasError('pattern')">Use only letters (a-z), numbers(0-9), periods, slash, dash and spaces.</span>-->
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label>City</label>
                            <div class="input-group">
                              <span class="input-group-addon">
                                <i class="material-icons">location_city</i>
                              </span>
                              <input type="text" class="form-control" placeholder="City" [(ngModel)]="catalogueModel.shippingAddress.city" name="shippingAddress.city"
                                required maxlength="30" #shippingcity="ngModel">
                            </div>
                            <!--pattern="[a-zA-Z\s]{0,30}"
                                                        <span class='form-text error' *ngIf="shippingcity.dirty && shippingcity.hasError('pattern')">Use only letters (a-z) and space.</span>-->
                          </div>
                        </div>
                      </td>
                      <td valign="top">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label>Pin Code</label>
                            <div class="input-group">
                              <span class="input-group-addon">
                                <i class="material-icons">fiber_pin</i>
                              </span>
                              <input type="text" class="form-control" placeholder="Pin Code" [(ngModel)]="catalogueModel.shippingAddress.postalCode" name="shippingAddress.postalCode"
                                required maxlength="6" pattern="^\d{6}$" #shippingpincode="ngModel">
                            </div>
                            <span class='form-text error' *ngIf="shippingpincode.dirty && shippingpincode.hasError('pattern')">Use only numbers (0-9).</span>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label>State</label>
                            <div class="input-group">
                              <span class="input-group-addon">
                                                                <i class="glyphicon glyphicon-stats"></i>
                                                            </span>
                              <select class="form-control" [(ngModel)]="catalogueModel.shippingAddress.state" name="shippingAddress.state" required>
                                                                <option *ngFor="let item of lstStates" [ngValue]="item.name">{{item.name}}</option>
                                                            </select>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td valign="top">
                        <div class="col-lg-12">
                          <label>Country</label>
                          <div class="input-group">
                            <span class="input-group-addon">
                               <i class="glyphicon glyphicon-map-marker"></i>
                            </span>
                            <select class="form-control" [(ngModel)]="catalogueModel.shippingAddress.country" name="shippingAddress.country" required>
                                <option *ngFor="let item of lstCountries" [ngValue]="item.name">{{item.name}}</option>
                            </select>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <div class="col-lg-5">
      <p *ngIf="message.text != '' && !message.isGlobal" [ngClass]="{'alert alert-danger': message.type == 2 }" style="justify-content:center;">{{message.text }}</p>
    </div>
    <div class="col-lg-7">
      <button type="button" class="btn btn-primary" [disabled]="!AddEditContactForm.form.valid || !AddEditContactForm.dirty" (click)="saveContact()">
            <span *ngIf="!progressing">Save</span>
            <span *ngIf="progressing">
                <img src="../../Content/images/ajax-loader.gif" />
            </span>
        </button>
      <button type="button" class="btn btn-warning" (click)="onReset();">Reset</button>
      <button class="btn btn-primary" (click)="contactModalRef.hide();onReset();">Close</button>
    </div>
  </div>
</ng-template>