@section Styles {
    @Styles.Render("~/Content/tables")
}


@section scripts{
    <script src="~/CustomJs/Custom.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
}

<div id="page-wrapper">
    <div class="row">
        <h1></h1>
    </div>
    <!--Diplaye Users : Start-->
    <div ng-view></div>
    <!--Diplaye Users : End-->
</div>
