@section Styles {
    @Styles.Render("~/Content/tables")
}


@section scripts{
    <script src="~/CustomJs/Custom.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
}


<div ng-view></div>
