@model Dashboard.Models.Topic
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header"></h4>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Submit your topic
                </div>
                <div class="panel-body">
                    <div class="col-lg-6">
                        @using (Ajax.BeginForm("Forum", "Home", new AjaxOptions
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "ResultSection",
                            InsertionMode = InsertionMode.Replace,
                            OnSuccess = "Success",
                            LoadingElementId = "FormLoader"
                        }, new { id = "topicForm" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <label>Subject</label>
                                <input class="form-control" id="Title" name="Title" placeholder="Enter topic name" type="text" value="" required />
                            </div>
                            <div class="form-group">
                                <label>Body</label>
                                <textarea class="form-control" cols="20" id="Body" name="Body" placeholder="Describe your topic" rows="2" required></textarea>
                            </div>
                            <input type="submit" name="Submit Topic" class="btn btn-default" id="submitForm" />
                            <div id="FormLoader" style="display:none">
                                <center>
                                    <img src="~/Content/images/submittingForm.gif" />
                                </center>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="ResultSection">
        <center><img src="~/Content/images/loading-bar.gif" /></center>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            var url = '@Url.Action("GetTopicsHeader")';
            $('#ResultSection').load(url);
        });

        $('#topicForm').validator();

        function Success() {
            $('#topicForm')[0].reset();
        }
    </script>
}
