<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ForumContextConnection" connectionString="Data source=.\Sqlexpress;Trusted_Connection=True;Integrated Security=True;Initial Catalog=EFDemo;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
