

<a class="dropdown-toggle" data-toggle="dropdown" href="#"  target="_blank">
    <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
</a>
<ul class="dropdown-menu dropdown-messages" ng-controller="HomeController">
    <li ng-repeat="item in messages">
        <a href="#">
            <div>
                <strong>{{ item.name }}</strong>
                <span class="pull-right text-muted">
                    <em>{{ item.date }}</em>
                </span>
            </div>
            <div>{{ item.message }}</div>
        </a>
        <div class="divider"></div>
    </li>
    <li>
        <a class="text-center" href="#">
            <strong>Read All Messages</strong>
            <i class="fa fa-angle-right"></i>
        </a>
    </li>
</ul>
<!-- /.dropdown-messages -->
