<script src="../../Content/scripts/dashboard/dashboard.js"></script>

<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-brand" ng-href="#!/home">Dashboard - AJ 1.0</a>
    </div>
    <!-- /.navbar-header -->
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown" ng-include="'Templates/Navigation/Messages.html'"></li>
        <!-- /.dropdown -->
        <li class="dropdown" ng-include="'Templates/Navigation/Tasks.html'"></li>
        <!-- /.dropdown -->
        <li class="dropdown" ng-include="'Templates/Navigation/Alerts.html'"></li>
        <!-- /.dropdown -->
        <li class="dropdown" ng-include="'Templates/Navigation/Account.html'"></li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="#!/users"><i class="fa fa-arrow-circle-right fa-fw"></i> Users</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bars fa-fw"></i> All you want <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a ng-href="#!/dashboard"><i class="fa fa-users fa-fw"></i>  DashBoard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a ng-href="#!/flotchart">Flot Charts</a>
                                </li>
                                <li>
                                    <a ng-href="#!/morrischart">Morris.js Charts</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a ng-href="#!/tables"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li>
                        <li>
                            <a ng-href="#!/forms"><i class="fa fa-edit fa-fw"></i> Forms</a>
                        </li>
                        <li>
                            <a ng-href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a ng-href="#!/panels">Panels and Wells</a>
                                </li>
                                <li>
                                    <a ng-href="#!/buttons">Buttons</a>
                                </li>
                                <li>
                                    <a ng-href="#!/notifications">Notifications</a>
                                </li>
                                <li>
                                    <a ng-href="#!/typography">Typography</a>
                                </li>
                                <li>
                                    <a ng-href="#!/icons"> Icons</a>
                                </li>
                                <li>
                                    <a ng-href="#!/grid">Grid</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>

