<div class="modal-header" id="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">{{ title }} User</h4>
</div>
<form role="form" name="addUserForm" ng-submit="$ctrl.ok(isNew)" data-toggle="validator">
    <div class="modal-body" id="modal-body">
        <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control" id="userName" name="username" placeholder="nik90" ng-model="user.userName" required>
        </div>
        <div class="form-group">
            <label>First Name</label>
            <input class="form-control" id="fname" placeholder="ajay" ng-model="user.firstName" required>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input class="form-control" id="lname" placeholder="sinha" ng-model="user.lastName" required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" id="email" placeholder="abc@gmail.com" type="email" ng-model="user.email" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label>Date of Birth</label>
            <input class="form-control" id="dob" placeholder="mm/dd/yyyy" ng-model="user.dob" type="date" required>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Save" />
        <button type="button" class="btn btn-danger" ng-click="$ctrl.Reset(isNew)">Reset</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</form>

