<div class="row" ng-controller="UserController">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ Name }}
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="col-sm-6">
                    <div class="dataTables_length" id="dataTables-example_length">
                        <label>
                            Show <select name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm">
                                <option value="random">{{ data.Users.length }}</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> entries
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="dataTables-example_filter" class="dataTables_filter col-lg-11">
                        <label>
                            Search:
                            <input type="search" class="form-control input-sm" placeholder="Table Search" aria-controls="dataTables-example">
                        </label>
                    </div>
                </div>
                <br />
                <br />
                <div>
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Date of Birth</th>
                                <th width="20"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in data.Users">
                                <td>{{ item.userName }}</td>
                                <td>{{ item.firstName }}</td>
                                <td>{{ item.lastName }}</td>
                                <td>{{ item.email }}</td>
                                <td>{{ item.dob | date:"mediumDate" }}</td>
                                <td>
                                    <div class="btn-group-xs" uib-dropdown keyboard-nav dropdown-append-to="appendToEl" ng-controller="ModalController as $ctrl">
                                        <button id="btn-append-to" type="button" class="btn btn-facebook" uib-dropdown-toggle>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to">
                                            <li role="menuitem"><a ng-click="$ctrl.openEditUserModal(item.id)">Edit</a></li>
                                            <li role="menuitem"><a ng-click="$ctrl.openDeleteUserModal(item.id,item.userName)">Remove</a></li>
                                            <li class="divider"></li>
                                            <li role="menuitem"><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-1" ng-controller="ModalController as $ctrl">
                    <div class="modal-demo">
                        <button type="button" class="btn btn-default" id="AddUserButton" ng-click="$ctrl.openAddUserModal()">
                            Add User
                        </button>
                    </div>
                </div>
                <div class="dataTables_paginate paging_simple_numbers col-lg-11" id="dataTables-example_paginate">
                    <ul class="pagination">
                        <li class="paginate_button previous disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous"><a href="#">Previous</a></li>
                        <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0"><a href="#">1</a></li>
                        <li class="paginate_button" aria-controls="dataTables-example" tabindex="0"><a href="#">2</a></li>
                        <li class="paginate_button" aria-controls="dataTables-example" tabindex="0"><a href="#">3</a></li>
                        <li class="paginate_button" aria-controls="dataTables-example" tabindex="0"><a href="#">4</a></li>
                        <li class="paginate_button" aria-controls="dataTables-example" tabindex="0"><a href="#">5</a></li>
                        <li class="paginate_button" aria-controls="dataTables-example" tabindex="0"><a href="#">6</a></li>
                        <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next"><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>