<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{ Title }}
    </div>
    <div class="panel-body-no-padding">
      <div style="padding:25px;">
        <table>
          <tr>
            <td width="30%" valign="top" align="center">
              <img [src]="logoURL" class="img-responsive" width="200" height="200" style="border:solid;" />
              <br />
              <a href="javascript:void(0);" (click)="UploadLogoModal.open();">Change Picture</a>
            </td>
            <td>
              <div class="table-responsive">
                <table class="table table-hover table-bordered">
                  <tbody class="Custom-tbody-tenant-Profile">
                    <tr>
                      <td><b>Orgnisation Name</b></td>
                      <td>{{viewModel.orgProfile.tenantName }}</td>
                    </tr>
                    <tr>
                      <td><b>GST-IN</b></td>
                      <td>{{ viewModel.orgProfile.gstin}}</td>
                    </tr>
                    <tr>
                      <td><b>Domain</b></td>
                      <td>{{ viewModel.orgProfile.domainName}}</td>
                    </tr>
                    <tr>
                      <td><b>Industry</b></td>
                      <td>{{ viewModel.orgProfile.industryType || '-'}}</td>
                    </tr>
                    <tr>
                      <td><b>Company Address</b></td>
                      <td>
                        <p>{{ viewModel.address.addressLine || '-'}}</p>
                        <p>{{ viewModel.address.city || '-'}}</p>
                        <p>{{ viewModel.address.state || '-'}} - {{ viewModel.address.postalCode}}</p>
                        <p>{{ viewModel.address.country || '-'}}</p>
                      </td>
                    </tr>
                    <tr>
                      <td><b>Contact</b></td>
                      <td>
                        <div>{{viewModel.orgProfile.emailAddress}}</div>
                        <div>{{viewModel.address.phoneNumber}}</div>
                      </td>
                    </tr>
                    <tr>
                      <td><b>Bank Name</b></td>
                      <td>{{ viewModel.orgProfile.bankName}}</td>
                    </tr>
                    <tr>
                      <td><b>Account Number</b></td>
                      <td>{{ viewModel.orgProfile.accountNumber}}</td>
                    </tr>
                    <tr>
                      <td><b>IFSC Code</b></td>
                      <td>{{ viewModel.orgProfile.ifscCode}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <hr>
    </div>
    <div class="panel-footer-custom">
      <div class="col-lg-6">
        <p *ngIf="message.text != '' && message.isGlobal" [ngClass]="{'alert alert-height':true,'alert-success': message.type == 1, 'alert-danger': message.type == 2,'alert-warning': message.type == 3}">{{message.text}}</p>
      </div>
      <div class="col-lg-6"> 
        <input type="submit" class="btn btn btn-primary  pull-right" value="Edit Profile" (click)="openModal(ProfileModal); editProfile();"/>
      </div>
    </div>
  </div>
</div>

<ng-template #ProfileModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Profile Information</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="profileModalRef.hide()">
      <span aria-hidden="true">&times;</span>
     </button>
  </div>
  <div class="modal-body">
    <form role="form" #profileForm="ngForm" data-toggle="validator">
      <table>
        <tr>
          <td valign="top">
            <div class="col-lg-12">
              <div class="form-group">
                <label>Orgnisation Name</label>
                <div class="input-group">
                  <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                  <input type="text" class="form-control" [(ngModel)]="profileModel.orgProfile.tenantName" name="orgProfile.tenantName" #tenantName="ngModel"
                    required maxlength="100">
                </div>
                <!--pattern="[a-zA-Z0-9\-_\s]{3,100}"
                        <span class='form-text error' *ngIf="tenantName.dirty && tenantName.hasError('pattern')">Use only letters (a-z), numbers (0-9), dash & spaces. Use atleast 3 letters.</span>-->
              </div>
            </div>
          </td>
          <td valign="top">
            <div class="col-lg-12">
              <div class="form-group">
                <label>Domain</label>
                <div class="input-group">
                  <span class="input-group-addon">
                                <i class="glyphicon glyphicon-globe"></i>
                            </span>
                  <input type="text" class="form-control" [(ngModel)]="profileModel.orgProfile.domainName" name="orgProfile.domainName" disabled>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div class="col-lg-12">
              <div class="form-group">
                <label>GSTIN</label>
                <div class="input-group">
                  <span class="input-group-addon">
                                <i class="glyphicon glyphicon-flash"></i>
                            </span>
                  <input type="text" class="form-control" placeholder="27AAAAA0000A1Z5" [(ngModel)]="profileModel.orgProfile.gstin" name="orgProfile.gstin"
                    #gstin="ngModel" required pattern="\d{2}[a-zA-Z0-9]{10}[a-zA-Z0-9]{3}" maxlength="15">
                </div>
                <span class='form-text error' *ngIf="gstin.dirty && gstin.hasError('pattern')">Use correct GSTN formate (e.g. 27AAAAA0000A1Z5)</span>
              </div>
            </div>
          </td>
          <td valign="top">
            <div class="col-lg-12">
              <div class="form-group">
                <label>Industry Type</label>
                <div class="input-group">
                  <span class="input-group-addon">
                                <i class="glyphicon glyphicon-list"></i>
                            </span>
                  <select class="form-control" [(ngModel)]="profileModel.orgProfile.industryType" name="orgProfile.industryType" required>
                                <option *ngFor="let item of lstIndustries" [ngValue]="item.name">{{item.name}}</option>
                            </select>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top" rowspan="2">
            <div class="col-lg-12">
              <div class="form-group">
                <label>Company Address</label>
                <div class="input-group">
                  <span class="input-group-addon">
                                <i class="glyphicon glyphicon-home"></i>
                            </span>
                  <textarea class="form-control" rows="1" placeholder="Street 123" [(ngModel)]="profileModel.address.addressLine" name="address.addressLine"
                    #addressLine="ngModel" required maxlength="100"></textarea>
                </div>
                <!--pattern="[a-zA-Z0-9\/\-_\s,]{0,100}"
                        <span class='form-text error' *ngIf="addressLine.dirty && addressLine.hasError('pattern')">Use only letters (a-z), numbers(0-9), slash, dash, comma & spaces.</span>-->
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label>State</label>
                <div class="input-group">
                  <span class="input-group-addon">
                                <i class="glyphicon glyphicon-stats"></i>
                            </span>
                  <select class="form-control" [(ngModel)]="profileModel.address.state" name="address.state" required>
                                <option *ngFor="let item of lstStates" [ngValue]="item.name">{{item.name}}</option>
                            </select>
                </div>
              </div>
            </div>
          </td>
          <td valign="top" rowspan="2">
            <div class="col-lg-12">
              <div class="form-group">
                <label>City</label>
                <div class="input-group">
                  <span class="input-group-addon">
                                <i class="material-icons">location_city</i>
                            </span>
                  <input type="text" class="form-control" placeholder="City" [(ngModel)]="profileModel.address.city" name="address.city" required
                    #city="ngModel" maxlength="30" />
                </div>
                <!--pattern="[a-zA-Z\s]{0,30}"
                        <span class='form-text error' *ngIf="city.dirty && city.hasError('pattern')">Use only letters (a-z) and space.</span>-->
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label>Postal Code</label>
                <div class="input-group">
                  <span class="input-group-addon">
                                <i class="material-icons">fiber_pin</i>
                            </span>
                  <input type="text" class="form-control" placeholder="400100" [(ngModel)]="profileModel.address.postalCode" name="address.postalCode"
                    #postalCode="ngModel" required maxlength="6" pattern="^\d{6}$" />
                </div>
                <span class='form-text error' *ngIf="postalCode.dirty && postalCode.hasError('pattern')">Use atleast 6 numbers(0-9).</span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div class="col-lg-12">
              <div class="form-group">
                <label>Email Address</label>
                <div class="input-group">
                  <span class="input-group-addon">
                                <i class="glyphicon glyphicon-envelope"></i>
                            </span>
                  <input type="text" class="form-control" placeholder="mail@gmail.com" [(ngModel)]="profileModel.orgProfile.emailAddress" name="orgProfile.emailAddress"
                    #emailAddress="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                </div>
                <span class='form-text error' *ngIf="emailAddress.dirty && emailAddress.hasError('pattern')">Use only letters (a-z), numbers (0-9), '@' and periods.</span>
              </div>
            </div>
          </td>
          <td valign="top">
            <div class="col-lg-12">
              <div class="form-group">
                <label>Contact Number</label>
                <div class="input-group">
                  <span class="input-group-addon">
                                <i class="glyphicon glyphicon-phone"></i>
                            </span>
                  <input type="text" class="form-control" placeholder="9876543210" [(ngModel)]="profileModel.address.phoneNumber" name="address.phoneNumber"
                    #phoneNumber="ngModel" required minlength="10" maxlength="10" pattern="^\d{0,10}$">
                </div>
                <span class='form-text error' *ngIf="phoneNumber.dirty && phoneNumber.hasError('pattern')">Use only numbers (0-9).</span><br
                />
                <span class='form-text error' *ngIf="phoneNumber.dirty && phoneNumber.hasError('minlength')">Use atleast 10 numbers.</span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <div class="col-lg-12">
              <h5>
                <b> -- Bank Details --</b>
              </h5>
            </div>
          </td>
        </tr>
        <tr style="border:2px,solid;">
          <td valign="top">
            <div class="col-lg-12">
              <div class="form-group">
                <label>Bank Name</label>
                <div class="input-group">
                  <span class="input-group-addon">
                                <i class="fa fa-university"></i>
                            </span>
                  <input type="text" class="form-control" placeholder="HDFC Bank" [(ngModel)]="profileModel.orgProfile.bankName" name="orgProfile.bankName"
                    #bankName="ngModel" pattern="[a-zA-Z\-\s]{0,30}" minlength="3" maxlength="30" />
                </div>
                <span class='form-text error' *ngIf="bankName.dirty && bankName.hasError('pattern')">Use only letter (a-z), space and dash.</span>                <br />
                <span class='form-text error' *ngIf="bankName.dirty && bankName.hasError('minlength')">Use atleast 3 letters/Numbers.</span>
              </div>
            </div>
          </td>
          <td valign="top">
            <div class="col-lg-12">
              <div class="form-group">
                <label>Account Number</label>
                <div class="input-group">
                  <span class="input-group-addon">
                                <i class="fa fa-code"></i>
                            </span>
                  <input type="text" class="form-control" placeholder="50100XXXXXX123" [(ngModel)]="profileModel.orgProfile.accountNumber"
                    name="orgProfile.accountNumber" #accountNumber="ngModel" pattern="[a-zA-Z0-9\-]{0,15}" minlength="5" maxlength="15"
                  />
                </div>
              </div>
              <span class='form-text error' *ngIf="accountNumber.dirty && accountNumber.hasError('pattern')">Use only letter (a-z), numbers (0-9) and dash.</span><br
              />
              <span class='form-text error' *ngIf="accountNumber.dirty && accountNumber.hasError('minlength')">Use atleast 5 letters/Numbers.</span>
            </div>
          </td>
          <td valign="top">
            <div class="col-lg-12">
              <div class="form-group">
                <label>IFS Code</label>
                <div class="input-group">
                  <span class="input-group-addon">
                                <i class="fa fa-code"></i>
                            </span>
                  <input type="text" class="form-control" placeholder="HDFC0000XXX" [(ngModel)]="profileModel.orgProfile.ifscCode" name="orgProfile.ifscCode"
                    #ifscCode="ngModel" pattern="[a-zA-Z]{4}\d{7}" maxlength="11" />
                </div>
                <span class='form-text error' *ngIf="ifscCode.dirty && ifscCode.hasError('pattern')">Use correct IFSC format (e.g. HDFC0000123).</span>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="modal-footer">
    <div class="col-lg-5">
      <p *ngIf="message.text != '' && !message.isGlobal" [ngClass]="{'alert alert-danger': message.type == 2 }" style="justify-content:center;">{{message.text }}</p>
    </div>
    <div class="col-lg-7">
      <button type="button" class="btn btn-primary" [disabled]="!profileForm.form.valid" (click)="saveTenantInfo()">
        <span *ngIf="!progressing">Save</span>
        <span *ngIf="progressing">
            <img src="../../../assets/img/ajax-loader.gif"/>
        </span>
    </button>
      <button type="button" class="btn btn-warning" (click)="onReset()">Reset</button>
      <button class="btn btn-primary" (click)="profileModalRef.hide();onReset();">Close</button>
    </div>
  </div>
</ng-template>